<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nts.api.dao.InOutStockListMapper">

	<!-- 在库情报 -->
	<resultMap id="StockResult" type="com.nts.api.entity.InOutStockList">
		<result column="stock_name" property="stockName" />
		<result column="unit_name" property="unitName" />
		<result column="stock_num" property="stockNum" />
	</resultMap>
	<select id="getStockDataById" resultMap="StockResult">
		SELECT 
			t_stock.name AS stock_name, 
			m_code.name AS unit_name,
			t_stock.stock_num
		FROM
			t_stock 
		LEFT JOIN
			m_code
		ON
			t_stock.unit_id = m_code.code_id
		WHERE
			m_code.code_kbn = '1002'
		AND
			t_stock.id = #{id};	<!-- id -->
	</select>

	<!-- 入出库情报 -->
	<resultMap id="IOResult" type="com.nts.api.entity.InOutStockList$InOutItem"><!-- MyBatis的MapperXML中使用$来引用嵌套类 -->
		<result column="io_type_name" property="iOTypeName" />
		<result column="io_num" property="iONumber" />
		<result column="create_date" property="iODate" />
		<result column="io_user" property="iOUser" />
		<result column="remarks" property="remarks" />
	</resultMap>
	<select id="getIODataListById" resultMap="IOResult">
		SELECT
			m_code.name as io_type_name, 
			t_stock_io.io_num,
			t_stock_io.create_date as io_date,
			t_stock_io.create_user as io_user,
			t_stock_io.remarks
		FROM
			t_stock_io
		LEFT JOIN
			m_code
		ON
			t_stock_io.io_type = m_code.code_id
		WHERE
			m_code.code_kbn = '1001'
		AND
			t_stock_io.id = #{id}	<!-- id -->
		<if test="iOTypeId != 0">
		    AND <!-- 增加入出庫タイプ条件 -->
		   		m_code.code_id = #{iOTypeId}
		</if>

	</select>


</mapper>