<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>入出庫情報一覧</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/inout_stock_list.css}">
	
</head>
<body>
	<form method="GET" th:object="${inOutStockList}">
		<div class="whole">
			<div class="above-grid-container">
				<div>在庫名称：</div>
				<div>
				<span th:text="*{stockName}"></span>
				</div>
				
				<div>単<span class="unit">位：</span></div>
				<div>
				<span th:text="*{unitName}"></span>
				</div>
	
				<div>在 庫 数 量：</div>
				<div>
				<span th:text="*{stockNum}"></span>
				</div>
				
				<div>入出庫日：</div>
				<div>
				<input type="date" class="select-date" name="from" th:value="${ioDateFrom}">
				<span class="wave">～</span>
				<input type="date" class="select-date" name="to" th:value="${ioDateTo}">
				</div>
				
				<div>入出庫タイプ：</div>
				<div>
					<select class="select-box" name="type">
					<option value="0" selected>--</option>
					<option th:each="type : ${inOutType}" th:text="${type.iOTypeName}" th:value="${type.iOTypeId}" th:selected="${type.iOTypeId == iOTypeId}"></option>
					</select>
				</div>
				
				<div>
					<input name="button" type="submit" value="検索">
				</div>
				<div>
					<input name="button" type="button" value="閉じる" onclick="goBack()" class="closebotton">
				</div>
			</div>

			<div class="add">
				<input name="back" type="button" value="追加" onclick="goToAdd()" class="addbotton">
				<input type="hidden" th:value="${id}" id="idValue">
			</div>
			<div class="th">
				<table>
					<thead>
		                <tr>
		                    <th>入出庫タイプ</th>
		                    <th>入出庫数量</th>
		                    <th>入出庫日時</th>
		                    <th>入出庫者</th>
		                    <th>備考</th>
		                </tr>
					</thead>
				</table>
			</div>

			<div class="list">
				<table>
					<tbody>
						<!-- 使用Thymeleaf循环遍历数据 -->
		                <tr th:each="item : ${inOutStockList.inOutItemList}">
		                    <td th:text="${item.iOTypeName}"></td>
		                    <td th:text="${item.iONumber}"></td>
		                    <td th:text="${item.iODate}"></td>
		                    <td th:text="${item.iOUser}"></td>
		                    <td th:text="${item.remarks}"></td>
		                </tr>
           			</tbody>

				</table>
			</div>
		</div>
	</form>
	
	<script src="/static/js/inout_stock_list.js" th:src="@{/js/inout_stock_list.js}">
	</script>

</body>
</html>