<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>StockIO Register</title>
<link rel="stylesheet" type="text/css" href="/css/stockIoForm.css">
</head>
<body>
	<form  th:object="${stockIoForm}" method="post">
		<div class="container">
			<table class="tableContainer">
				<tr>
					<td><label for="id">在庫ID</label></td>
					<td><span th:text="${stockIoForm.id}"></span></td>
				</tr>
				
				<tr>
					<td><label for="name">在庫名称</label></td>
					<td><span th:text="${stockIoForm.name}"></span></td>
				</tr>
				
				<tr>
					<td><label for="unit">単位</label></td>
					<td><span th:text="${stockIoForm.unitId}"></span></td>
				</tr>
				
				<tr>
					<td><label for="stockNum"></label></td>
					<td><span th:text="${stockIoForm.stockNum}"></span></td>
				</tr>
				
				<tr>
					<td><label class="star">*</label><label for="ioType">入出庫タイプ</label></td>
					<td>
						<select name="ioType">
						<option value="">....</option>
						<option value="">....</option>
						<option value="">....</option>
						</select>
						<span class="errorMessage" th:errors="*{ioType}"></span>
					</td>
				</tr>
				
				<tr>
					<td><label class="star">*</label><label for="ioNum">入出庫数量</label></td>
					<td><input type="text" id ="ioNum" th:field="*{ioNum}">
						<span class="errorMessage" th:errors="*{ioNum}"></span>
					</td>
				</tr>
				
				<tr>
					<td><label for="remarks">備考</label></td>
					<td><textarea rows="5" cols="33" id="remarks"></textarea></td>
				</tr>
			</table>
		</div>
		
		<div >
			<div class="buttonContainer">
				<button  class="button">登録</button>
			</div>
			<div class="buttonContainer">
				<button  class="button">閉じる</button>
			</div>
		</div>
	</form>
</body>
</html>